<div *ngFor="let x of estado">

    <div *ngIf="x.nombre==this.ar.snapshot.queryParams.name">

         <div class="container"></div>   
            <img src="{{x.imagen}}" alt="imagen" style="display: block; box-sizing: border-box; width: 100%; position:relative; max-height: 1000px;">
            <h1 class="display-4 text-center">{{x.nombre}}</h1>
        </div>
    
</div> 
<br>
<div *ngFor="let item of destino">
<div class="container">
<div class="row bg-light">
        <div class="col align-middle">
            <img src="{{item.imagen}}" alt="lecheria foto" width="250px" height="200px">
        </div>
        <div class="col-9 text-center">
            <p class="lead"> <strong>Destino:</strong> {{item.nombre}} </p>
            <p class="lead"> {{item.info}} </p>
        </div>
    </div>
</div>
</div>
<hr>
<h3 class="display-4 text-center">Hoteles</h3>
<div *ngFor="let item of hoteles">

    <div *ngIf="item.estado==this.ar.snapshot.queryParams.name">
        <div class="clickable" (click)="cambiarHotelActual(item)" routerLink="/reservar" routerLinkActive="router-link-active"   >
                <div class="container text-center">
                    <div class="row bg-light">
                        <div class="col">
                            <img src="{{item.fotos}}" alt="foto" width="250px" height="200px">
                        </div>
                        <div class="col-9">
                            <p class="lead"> <strong>Nombre del hotel:</strong> {{item.nombre}} </p>
                            <p class="lead"> <strong>{{item.info}}</strong> </p>
                        </div>
                    </div>
                </div>
                </div>
                <hr>
    </div>

</div>
