<hr>
<div class="row bg-light">

    <div class="col-sm text-center d-flex justify-content-center">
        <div class="d-flex align-items-center">
            <a href=""><img class="logo align-middle" src="assets/images/logos/miauchi-03.png" alt="" width="80px" height="60px"></a>
        </div>
    </div>
    <div class="col clickable" >
        <h4 class="display-4"> <a href="planea-tu-viaje">Destinos</a> </h4>
        <ul>
            <li>Montaña</li>
            <li>Playa</li>
            <li>Ciudad</li>
        </ul>
    </div>
    <div class="col clickable">
        <h4 class="display-4"> <a href="hoteles">Hoteles</a> </h4>
        <ul>
            <li>Alta Gama</li>
            <li>Mas visitados</li>
            <li>Promociones</li>
        </ul>
    </div>
    <div class="col align-items-center" >
        <h4 class="display-4">Contacto</h4>
        <div>
        <li></li>
        <span>Email: Guacamayatoursoficial@gmail.com</span>
        </div>
    </div>

</div>