<hr>
<div class="row">

    <div class="col text-center" >
        <a href=""><img class="logo align-middle" src="assets/images/logos/miauchi-03.png" alt="" width="80px" height="60px"></a>
    </div>
    <div class="col" >
        <h1>Destinos</h1>
        <ul>
            <li>Montaña</li>
            <li>Playa</li>
            <li>Cosmopolita</li>
        </ul>
    </div>
    <div class="col" >
        <h1>Hoteles</h1>
        <ul>
            <li>Alta Gama</li>
            <li>Mas visitados</li>
            <li>Promociones</li>
        </ul>
    </div>
    <div class="col" >
        <h1>Acerca de Nosotros</h1>
        <h4>Email: GuacaTours@gmai.com</h4>
    </div>

</div>