<div class="margintop">
        <carousel>
                <slide>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Estadio_Jose_bernardo_perez_sede_de_Navegantes_del_Magallanes.jpg" alt="imagen" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                      <div class="sliderContainer">
                            <h3>Estadio Universitario de Caracas</h3>
                            <p>Lugar donde los Leones del Caracas representan dignamente la capital y los Tiburones prometen que el año siguente sera el suyo</p>
                      </div>
                  </div>
                </slide>
                <slide>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Playa_Caribe.jpg" alt="Margarita" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                      <div class="sliderContainer">
                            <h3>Playa Parguito</h3>
                            <p>Sol, arena y mar. Suena como buen plan</p>
                      </div>
                  </div>
                </slide>
                <slide>
                  <img src="http://4.bp.blogspot.com/-nH3DbyM4HLQ/UXp2LnOolLI/AAAAAAAAAhY/YHFeUQCGDDc/s1600/IMG_0201%255B1%255D.JPG" alt="Santa Iglesia Catedral" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <div class="sliderContainer">
                        <h3>Santa Iglesia Catedral</h3>
                        <p>La iglesia mas iconica del pais... y si ahi Chino y Nacho grabaron el video de "Andas en mi cabeza"</p>
                    </div>
                  </div>
                </slide>
              </carousel>
</div>
