<div *ngFor="let item of q">
        <div>
                {{q.costoTotal}}
        </div>
</div>

<div>{{ q  }}</div>
<!-- <ul *ngFor="let x of itinerarios">
        <li>
                <p>{{ x }}</p>
            <p>Fecha de salida: {{x?.fecha[0]}}</p>   
            <p>Fecha de llegada: {{x.fecha[1]}}</p>
            <p>Hotel: {{x.tipoHabitacion[0].hotel}}</p>
            <p>Costo viaje: {{x.costoTotal}}</p>
            <div *ngFor = "let y of x.tipoHabitacion; let i = index;">
                <p>Habitacion {{i}}: {{ y.nombre }} , de la cual se reservaron {{ y.cantidad }} </p>
            </div>
        </li>
</ul> -->

<!-- <form  (ngSubmit)="onSubmit()"> -->

    <!-- <h1>Para continuar con el pago, ingrese los siguientes datos:</h1>
    <div class="form-group">
            <label for=nombre>Nombre:</label>
            <input class="form-control" type="text" placeholder="nombre" [(ngModel)]="orden.nombreCliente" name="imagen">
    </div>
    <div class="form-group">
            <label for=nombre>Cedula:</label>
            <input class="form-control" type="text" placeholder="nombre" [(ngModel)]="orden.cedula" name="imagen">
    </div>      
    <div class="form-group">
            <label for=nombre>Correo:</label>
            <input class="form-control" type="text" placeholder="nombre" [(ngModel)]="orden.correo" name="imagen">
    </div>
    <div class="form-group">
            <label for=nombre>Telefono:</label>
            <input class="form-control" type="text" placeholder="nombre" [(ngModel)]="orden.telefono" name="imagen">
    </div>
    <div class="form-group">
            <label for=nombre>Direccion:</label>
            <input class="form-control" type="text" placeholder="nombre" [(ngModel)]="orden.direccion" name="imagen">
    </div>
    <input type="submit">
<-- </form> -->
