

<div *ngIf="check(); else noItinerario">
<div *ngIf="q!=null">
<div class="container text-center">
                <div class="row bg-light">
                    <div class="col">
                                <h3 class="display-4">Itinerario 1</h3>
                    </div>
                    <div class="col-9">
                                <p><strong>Fecha:</strong>{{q.fecha}}</p> 
                                <p><strong>Hotel:</strong> {{q.tipoHabitacion[0].hotel}}</p>
                                <p><strong>Costo:</strong>${{q.costoTotal}}</p> 
                    </div>
                </div>
                <button (click)="borrar()">Borrar Itinerario</button>
</div>
<hr>
</div>

<div *ngIf="w!=null">
                <div class="container text-center">
                                <div class="row bg-light">
                                    <div class="col">
                                                <h3 class="display-4">Itinerario 2</h3>
                                    </div>
                                    <div class="col-9">
                                                <p><strong>Fecha:</strong>{{w.fecha}}</p> 
                                                <p><strong>Hotel:</strong> {{w.tipoHabitacion[0].hotel}}</p>
                                                <p><strong>Costo:</strong>${{w.costoTotal}}</p> 
                                    </div>
                                </div>
                                <button (click)="borrar2()">Borrar Itinerario</button>

                </div>
                <hr>
</div>

<div *ngIf="e!=null">
                <div class="container text-center">
                                <div class="row bg-light">
                                    <div class="col">
                                                <h3 class="display-4">Itinerario 3</h3>
                                    </div>
                                    <div class="col-9">
                                                <p><strong>Fecha:</strong>{{e.fecha}}</p> 
                                                <p><strong>Hotel:</strong> {{e.tipoHabitacion[0].hotel}}</p>
                                                <p><strong>Costo:</strong>${{e.costoTotal}}</p> 
                                    </div>
                                </div>
                                <button (click)="borrar3()">Borrar Itinerario</button>

                </div>
                <hr>
</div>

<div *ngIf="r!=null">
                <div class="container text-center">
                                <div class="row bg-light">
                                    <div class="col">
                                                <h3 class="display-4">Itinerario 4</h3>
                                    </div>
                                    <div class="col-9">
                                                <p><strong>Fecha:</strong>{{r.fecha}}</p> 
                                                <p><strong>Hotel:</strong> {{r.tipoHabitacion[0].hotel}}</p>
                                                <p><strong>Costo:</strong>${{r.costoTotal}}</p> 
                                    </div>
                                </div>
                                <button (click)="borrar4()">Borrar Itinerario</button>

                        </div>
                        <hr>
</div>

<div *ngIf="t!=null">
                <div class="container text-center">
                                <div class="row bg-light">
                                    <div class="col">
                                                <h3 class="display-4">Itinerario 5</h3>
                                    </div>
                                    <div class="col-9">
                                                <p><strong>Fecha:</strong>{{t.fecha}}</p> 
                                                <p><strong>Hotel:</strong> {{t.tipoHabitacion[0].hotel}}</p>
                                                <p><strong>Costo:</strong>${{t.costoTotal}}</p> 
                                    </div>
                                </div>
                                <button (click)="borrar5()">Borrar Itinerario</button>

                </div>
</div>
<div class="container text-center">
        <button type="button" class="btn btn-primary" routerLink="/checkout" routerLinkActive>
                Proceda Al pago
        </button>
</div>
</div>
<ng-template #noItinerario>
    <h1>Aqui aparecenan sus reservaciones.</h1>
</ng-template>


