.sliderContainer{
    background:linear-gradient(180deg, rgba(138, 132, 132, 0.39) 111.46%, rgba(255, 255, 255, 0.39) 153.65%);
    border: 1px solid #000000;
    box-sizing: content-box;
    border-radius: 5px;
    }