<header>

    <img class="logo" src="assets/images/logos/miauchi-03.png" alt="" width="80px" height="60px">
    <nav>
        <ul class="nav__links" >
            <li><a href="#" class="sombra">Planea tu viaje</a></li>
            <li><a href="#" class="sombra">Ciudades</a></li>
            <li><a href="#" class="sombra">Hoteles</a></li>
            <li><a routerLink="/misviajes" routerLinkActive class="sombra">Mis Viajes</a></li>
        </ul>
    </nav>
    <a class="cta" href="#"><img src="assets/images/logos/carritoCool.png" alt="" width="31px" height="30px"></a>
</header>

