@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

*{
    box-sizing: border-box;

}

li,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0f0f0f;
    text-decoration: none;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #cdcdcd;
    height: 10%;
}

.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    font-size: 20px;
    color: #272727;
}

button{
    padding: 9px;
}
.sombra{
    opacity: 1;
}
