<div class="container">
<div>
        <div >
            <div >
                <div class="mt-3">
            <h3>Añadir habitaciones</h3>
        </div>
            <hr>
            <form (ngSubmit)="onSubmit()" >
                <div class="form-group">
                    <div class="form-group">
                        <label for=hotel>Hotel:</label>
                        <input class="form-control" type="text" placeholder="Añadir hotel" [(ngModel)]="habitacion.hotel" name="title">
                        <p>(Escriba exactamente el nombre del hotel para que sea añadido correctamente)</p>
                    </div>                
                    <div class="form-group">
                        <label for=nombre>Nombre:</label>
                        <input class="form-control" type="text" placeholder="Añadir nombre" [(ngModel)]="habitacion.nombre" name="title">
                    </div>
                    <div class="form-group">
                        <label for=imagenes>Imagenes:</label>
                        <input class="form-control" type="text" placeholder="Añadir imagenes" [(ngModel)]="habitacion.fotos" name="imagen">
                        <p>(Coloque los links separados por un *** para que sean añadidos correctamente)</p>
                    </div>
                    <div class="form-group">
                        <label for=max>Maximo:</label>
                        <input class="form-control" type="text" placeholder="Añadir maximo de personas" [(ngModel)]="habitacion.maximoDePersonas" name="peronas">
                    </div>
                    <div class="form-group">
                        <label for=info>Informacion</label>
                        <input class="form-control" type="text" placeholder="Añadir informacion" [(ngModel)]="habitacion.info" name="informacion">
                    </div>
                    <div class="form-group">
                        <label for=comodidades>Comodidades:</label>
                        <input type="text" placeholder="Añadir comodidades" [(ngModel)]="habitacion.comodidades" name="serv">
                        <p>(Despues de cada comodidad ponga , para que sean añadidos correctamente)</p>
                    </div>
                    <div class="form-group">
                        <label for=price4night>Precio por noche:</label>
                        <input class="form-control" type="text" placeholder="Añadir precio" [(ngModel)]="habitacion.precio" name="destino">
                    </div>
                    <div class="form-group">
                        <label for=cantHab>Cantidad de habitaciones</label>
                        <input class="form-control" type="text" placeholder="Añadir cantidad" [(ngModel)]="habitacion.cantidad" name="destino">
                    </div>
                    <button class="btn btn-light" type="button" (click)="disp()">Disponible</button>
                    <button class="btn btn-light" type="button" (click)="disp1()" >No disponible</button>
                    <!-- <p>{{ habitacion.available }}</p> -->
                    <div class="pt-3">
                    <input type="submit" value="Submit" class="btn btn-success">
                    </div>
                    </div>
            </form>
            </div>
        </div>
        <h3>Editar habitaciones</h3>
        <ul class="list-group list-group-flush" *ngFor="let x of habitaciones">
            <li class="list-group-item">habitacion: {{ x.nombre }}  ||  Hotel: {{ x.hotel }}  ||  Informacion: {{ x.info }}  ||  Disponible: {{ x.available }}  ||  Imagenes: {{ x.id }}
                    <button type="button" (click)="editarHab($event, x)" class="btn btn-outline-primary">Editar</button>  
                    <button type="button" *ngIf="editHab && habEditada.id == x.id" (click)="clearState()" class="btn btn-outline-primary" style="margin-left:5px">Esconder</button>  
                  <div *ngIf="editHab && habEditada.id == x.id">
                    <form (ngSubmit)="updateHab(x)">
                        <div class="form-group">
                                <div class="form-group">
                                    <label for=hotel>Hotel</label>
                                        <input class="form-control" type="text" placeholder="Añadir hotel" [(ngModel)]="x.hotel" name="hotel">
                                        <p>(Escriba exactamente el nombre del hotel para que sea añadido correctamente)</p>
                                    </div>                
                                    <div class="form-group">
                                        <label for=nombre>Nombre:</label>
                                        <input class="form-control" type="text" placeholder="Añadir nombre" [(ngModel)]="x.nombre" name="title">
                                    </div>
                                    <div class="form-group">
                                        <label for=imagenes>Imagenes</label>
                                        <input class="form-control" type="text" placeholder="Añadir imagenes" [(ngModel)]="x.fotos" name="imagen">
                                        <p>(Coloque los links separados por un *** para que sean añadidos correctamente)</p>
                                    </div>
                                    <div class="form-group">
                                        <label for=max>Maximo</label>
                                        <input class="form-control" type="text" placeholder="Añadir maximo de personas" [(ngModel)]="x.maximoDePersonas" name="peronas">
                                    </div>
                                    <div class="form-group">
                                        <label for=info>Informacion</label>
                                        <input class="form-control"type="text" placeholder="Añadir informacion" [(ngModel)]="x.info" name="informacion">
                                    </div>
                                    <div class="form-group">
                                        <label for=comodidades>Comodidades:</label>
                                        <input class="form-control" type="text" placeholder="Añadir comodidades" [(ngModel)]="x.comodidades" name="serv">
                                        <p>(Despues de cada comodidad ponga , para que sean añadidos correctamente)</p>
                                    </div>
                                    <div>
                                        <label for=price4night>Precio por noche:</label>
                                        <input class="form-control" type="text" placeholder="Añadir precio" [(ngModel)]="x.precio" name="destino">
                                    </div>
                                    <div class="form-group">
                                        <label for=cantDeHab>Cantidad de habitaciones:</label>
                                        <input  class="form-control" type="text" placeholder="Añadir cantidad" [(ngModel)]="x.cantidad" name="destino">
                                    </div>
                                    <button class="btn btn-light" type="button" (click)="disp2()">Disponible</button>
                                    <button class="btn btn-light" type="button" (click)="disp3()" >No disponible</button>
                                    <!-- <p>{{ x.available }}</p> -->
                                    <div class="pt-3">
                                            <input class="btn btn-success" type="submit" value="Update hab">
                                            <button style="margin-left:5px" class="btn btn-danger" (click)="deleteHab($event, x)">Borrar habitacion</button>
                                        </div>
                                    </div>
                    </form>
                  </div>
              
            </li>
        </ul>
    
    
    </div>
</div>