<h1 class="display-2 text-center">Destinos</h1>
<div class="container text-center">
    <div class="row bg-light">
        <div class="col">
            <img src="" alt="lecheria foto" width="250px" height="200px">
        </div>
        <div class="col-9">
            <p class="lead"> <strong>Estado:</strong> {{item.nombre}} </p>
            <p class="lead"> <strong>Informacion</strong> afsadsad </p>
            <p class="lead">Lugares de Interes:</p>
            <ul>
                <li class="lead">Lecheria</li>
                <li class="lead">Puerto La Cruz</li>
                <li class="lead">Pachencho</li>
            </ul>
        </div>
    </div>
</div>