<img [src]="actualstateObj.imagen" alt="imagen" style="display: block; box-sizing: border-box; width: 100%; position:relative; max-height: 1000px;">

<hr>
<div class="container bg-light">

    <input list="estados" [(ngModel)]="eact" 
    value="{{estadoactual.nombre}}"
    (ngModelChange)="onChange()" style="width: 90%;">
      <datalist id="estados">
        <option *ngFor="let estado of estadoss" [value]="estado.nombre"> {{estado.nombre}} </option>
      </datalist>
    <input id="estadobuscado" style="width:10%" type="submit" (click)="cambiar()" (click)="document.getElementById('estados').value = ''">
    <div class="col .text-center ">
        <h1 class="d-flex justify-content-center" >{{ estadoactual.nombre }}</h1>
        <div class="row pt-4 d-flex align-items-center">
          <div class="col-sm text-center bg-light">
            <h3> {{ estadoactual.nombre }}</h3>
            <p>{{ estadoactual.info }}</p>
          </div>
          <div class="col-sm text-center bg-light">
            <div class="col-sm text-center bg-light">
              <img [src]="estadoactual.imagen" alt="" height="180px" width="200px" class="mt-2">
              <img [src]="estadoactual.imagen" alt="" height="180px" width="200px" class="mt-2">
            </div>
            <div class="col-sm text-center d-flex justify-content-center bg-light">
                    <img [src]="estadoactual.imagen" alt="" height="180px" width="200px" class="mt-2">
                    <img [src]="estadoactual.imagen" alt="" height="180px" width="200px" class="mt-2">
            </div>
            <h3>{{ estadoactual.nombre }}</h3>  
          </div>
        </div>
    </div>
</div>
<hr>
<div class="container bg-light">
    <div class="col .text-center ">
        <input list="hss" [(ngModel)]="hact" 
            value="{{hotelactual.nombre}}"
            (ngModelChange)="onChange2()" style="width: 90%;"> 
              <datalist id="hss">
                <option *ngFor="let hotel of hotelf" [value]="hotel.nombre"> {{hotel.nombre}} </option>
              </datalist>
            <input id="hotelbuscado" type="submit" style="width: 10%;" (click)="cambiar2()" (click)="document.getElementById('hss').value = ''"> 
        <div class="row pt-4 d-flex align-items-center">
          <div class="col-sm text-center bg-light">
            <h3>{{ hotelactual.nombre }}</h3>
            <p>{{ hotelactual.info }}</p>
          </div>
          <div class="col-sm text-center bg-light">
              <div class="col-sm text-center bg-light">
                <img [src]="hotelactual.fotos" alt="" height="180px" width="200px" class="mt-2">
                <img [src]="hotelactual.fotos" alt="" height="180px" width="200px" class="mt-2">
              </div>
              <div class="col-sm text-center d-flex justify-content-center bg-light">
                      <img [src]="hotelactual.fotos" alt="" height="180px" width="200px" class="mt-2">
                      <img [src]="hotelactual.fotos" alt="" height="180px" width="200px" class="mt-2">
              </div>
              <h3>{{ hotelactual.nombre }}</h3>  
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container bg-light" style="padding-bottom: 2%;">
  <div class="col .text-center ">
      <div class="row pt-4 d-flex align-items-center">
        <div class="col-sm text-center bg-light">
          <h3></h3>
          <p>Estrellas: {{ hotelactual.estrellas }}</p>
          <p>Latitud: {{ hotelactual.latitud }}</p>
          <p>Longitud: {{ hotelactual.longitud }}</p>
          <p>Direccion: {{ hotelactual.direccion }}</p>
          <p>Disponibilidad: {{ hotelactual.disponible }}</p>
          <input list="hss2" [(ngModel)]="habact" 
            value="{{habitacionactual.nombre}}"
            (ngModelChange)="onChange3()" style="width: 90%;">
              <datalist id="hss2">
                <option *ngFor="let hab of habitacionactual" [value]="hab.nombre"> {{hab.nombre}} </option>
              </datalist>
            <input id="habbuscado" type="submit" style="width: 10%;" (click)="cambiar3()" (click)="document.getElementById('hss2').value = ''"> 
        </div>
        <div class="col-sm text-center bg-light">
          <h3></h3>
          <p>{{ habitacionactual.nombre }}</p>
          <p>Maximo de personas: {{ habitacionactual.maximoDePersonas }}</p>
          <p>Comodidades: {{ habitacionactual.comodidades }}</p>
          <img [src]="habitacionactual.fotos" alt="" height="180px" width="200px" class="mt-2">
        </div>
      </div>
  </div>
</div>