<img [src]="actualstateObj.imagen" alt="imagen" style="display: block; box-sizing: border-box; width: 100%; position:relative; max-height: 1000px;">

<hr>
<div class="container bg-light">

    <input list="estados" [(ngModel)]="actualstate" 
    value="{{actualstateObj.nombre}}"
    (ngModelChange)="onChange()" style="width: 90%;">
      <datalist id="estados">
        <option *ngFor="let estado of estados" [value]="estado.nombre"> {{estado.nombre}} </option>
      </datalist>
    <input id="estadobuscado" style="width:10%" type="submit" (click)="cambiar()" (click)="document.getElementById('estados').value = ''">
    <div class="col .text-center ">
        <h1 class="d-flex justify-content-center" >{{ actualstateObj.nombre }}</h1>
        <div class="row pt-4 d-flex align-items-center">
          <div class="col-sm text-center bg-light">
            <h3> {{ actualstateObj.nombre }}</h3>
            <p>{{ actualstateObj.info }}</p>
          </div>
          <div class="col-sm text-center bg-light">
            <div class="col-sm text-center bg-light">
              <img [src]="actualstateObj.imagen" alt="" height="180px" width="200px" class="mt-2">
              <img [src]="actualstateObj.imagen" alt="" height="180px" width="200px" class="mt-2">
            </div>
            <div class="col-sm text-center d-flex justify-content-center bg-light">
                    <img [src]="actualstateObj.imagen" alt="" height="180px" width="200px" class="mt-2">
                    <img [src]="actualstateObj.imagen" alt="" height="180px" width="200px" class="mt-2">
            </div>
            <h3>{{ actualstateObj.nombre }}</h3>  
          </div>
        </div>
    </div>
</div>
<hr>
<div class="container bg-light">
    <div class="col .text-center ">
        <input list="hss" [(ngModel)]="actualhotel" 
            value="{{actualhotelObj.nombre}}"
            (ngModelChange)="onChange2()" style="width: 90%;"> 
              <datalist id="hss">
                <option *ngFor="let hotel of actualstateObj.hoteles" [value]="hotel.nombre"> {{hotel.nombre}} </option>
              </datalist>
            <input id="hotelbuscado" type="submit" style="width: 10%;" (click)="cambiar2()" (click)="document.getElementById('hss').value = ''"> 
        <div class="row pt-4 d-flex align-items-center">
          <div class="col-sm text-center bg-light">
            <h3>{{ actualhotelObj.nombre }}</h3>
            <p>{{ actualhotelObj.info }}</p>
          </div>
          <div class="col-sm text-center bg-light">
              <div class="col-sm text-center bg-light">
                <img [src]="actualhotelObj.imagen" alt="" height="180px" width="200px" class="mt-2">
                <img [src]="actualhotelObj.imagen" alt="" height="180px" width="200px" class="mt-2">
              </div>
              <div class="col-sm text-center d-flex justify-content-center bg-light">
                      <img [src]="actualhotelObj.imagen" alt="" height="180px" width="200px" class="mt-2">
                      <img [src]="actualhotelObj.imagen" alt="" height="180px" width="200px" class="mt-2">
              </div>
              <h3>{{ actualhotelObj.nombre }}</h3>  
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container bg-light" style="padding-bottom: 2%;">
  <div class="col .text-center ">
      <div class="row pt-4 d-flex align-items-center">
        <div class="col-sm text-center bg-light">
          <h3></h3>
          <p>Estrellas: {{ actualhotelObj.estrellas }}</p>
          <p>Latitud: {{ actualhotelObj.latitud }}</p>
          <p>Longitud: {{ actualhotelObj.longitud }}</p>
          <p>Direccion: {{ actualhotelObj.direccion }}</p>
          <p>Disponibilidad: {{ actualhotelObj.disponible }}</p>
          <p>Precio: {{ actualhotelObj.precio }}</p>
          <input list="hss2" [(ngModel)]="actualhab" 
            value="{{actualhabObj.nombre}}"
            (ngModelChange)="onChange3()" style="width: 90%;">
              <datalist id="hss2">
                <option *ngFor="let hab of actualhotelObj.tipos" [value]="hab.nombre"> {{hab.nombre}} </option>
              </datalist>
            <input id="habbuscado" type="submit" style="width: 10%;" (click)="cambiar3()" (click)="document.getElementById('hss2').value = ''"> 
        </div>
        <div class="col-sm text-center bg-light">
          <h3></h3>
          <p>{{ actualhabObj.nombre }}</p>
          <p>Maximo de personas: {{ actualhabObj.maximoDePersonas }}</p>
          <p>Comodidades: {{ actualhabObj.comodidades[0] }}</p>
          <img [src]="actualhabObj.fotos" alt="" height="180px" width="200px" class="mt-2">
        </div>
      </div>
  </div>
</div>