<header>

    <a a routerLink="/home" routerLinkActive><img class="logo" src="assets/images/logos/miauchi-03.png" alt="" width="80px" height="60px"></a>
     <nav>
         <ul class="nav__links" >
             <li><a href="#" class="sombra">Editar Ciudades</a></li>
             <li><a routerLink="/ciudades" routerLinkActive  class="sombra">Editar Hoteles</a></li>
             <li><a href="#" class="sombra">Compras</a></li>
             <li><a routerLink="/login" routerLinkActive class="sombra">Iniciar Sesion</a></li>
         </ul>
     </nav>
     <a class="cta" href="#"><img src="assets/images/logos/carritoCool.png" alt="" width="31px" height="30px"></a>
 </header>
<div class="text-center">
        <h2>Admin</h2>
</div>
<hr>
<!-- <div style="padding-left: 5vw">
    <h4>Modificar Hoteles</h4>
    <table>
            <td>Hotel</td>
            <td>Ubicacion</td>
            <td>Estrellas</td>
        </table>
    <hr>
    <h4>Modificar Destinos</h4>
    <hr>
</div> -->
<!-- <div style="padding-left: 5vw" >
    <form>
        <p>Name:</p><input type="text" id="name">
        <p>Lastname:</p><input type="text" id="lastname">
        <p>Mail:</p><input type="text" id="email">
        <p>Phone:</p><input type="text" id="phone">]
        <p>Quantity:</p><input type="number" id="quantity" min="1" max="30">
        <input type="submit" (click)="funcion()" routerLink="" routerLinkActive="active" placeholder="enviar">
        <select id="sel">
            <option value="Avatar">Avatar</option>
            <option value="I am Legend">I am Legend</option>
            <option value="300">300</option>
            <option value="The Avengers">The Avengers</option>
            <option value="The Wolf of Wall Street">The Wolf of Wall Street</option>
            <option value="Interstellar">Interstellar</option>
        </select>
    </form>     -->
    <h6><a routerLink='/dashboard' routerLinkActive=active> Dashboard de Admin</a></h6>
<!-- </div> -->

