<div class="margintop">
        <carousel>
                <slide>
                  <img src="assets/images/nature/1.jpg" alt="Roraima" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                      <div class="sliderContainer">
                            <h3>El Salto Angel</h3>
                            <p>Si te gustan las alturas, este es un buen lugar</p>
                      </div>
                  </div>
                </slide>
                <slide>
                  <img src="assets/images/nature/los-roques.jpg" alt="Los Roques" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                      <div class="sliderContainer">
                            <h3>Los Roques</h3>
                            <p>Sol, arena y mar. Suena como buen plan</p>
                      </div>
                  </div>
                </slide>
                <slide>
                  <img src="assets/images/nature/coro.jpg" alt="Medanos de Coro" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <div class="sliderContainer">
                        <h3>Medanos de Coro</h3>
                        <p>¿Y donde se ubican?, Pues en Coro.</p>
                    </div>
                  </div>
                </slide>
              </carousel>
</div>
