<div class="container">
    <h2>Mis Viajes</h2>
    <hr>
    <h4>¿Tienes una reserva?</h4>
    <div class="d-flex justify-content">
            <input type="text" [(ngModel)]="codigo">
            <div class="px-2">
                    <button type="button" class="btn btn-primary">
                            Verfica tu reserva
                        </button>
            </div>
    </div>  
    <p>Ingresa el número de reserva, sino tienes haz click <a routerLink="/planeatuviaje" routerLinkActive>aquí</a></p>
    <p></p>
</div>