<div class="container">
    <div class="text-center">
            <h2>Dashboard</h2>
    </div>
    <hr>
    <div class="dashboard1">
        <h4>Visitas</h4>
        <p>Conectamos firebase para que cuente las visitas de la pagina</p>
        <hr>
        <h4>Compras</h4>
               <table>
                  <td>Nombre</td>
                  <td>Apellido</td>
                  <td>Número telefónico</td>
                  <td>ID</td>
                  <td>Correo</td>
                  <td>Reserva</td>
                  <td>Pago</td>
                  <td>ID de compra</td>
              </table>
        </div>
        <hr>
        <h4>Estadisticas</h4>
        <p>Aqui con Firebase se agrega Google Analytics</p>
</div>

