<header>
<a><img class="logo" src="assets/images/logos/miauchi-03.png" alt="" width="80px" height="60px"></a>
     <nav>
         <ul class="nav__links" >
                    <li><a routerLink="/editar" routerLinkActive class="sombra">Editar estados</a></li>
                    <li><a routerLink="/editar2" routerLinkActive class="sombra">Editar destinos</a></li>
                    <li><a routerLink="/editarh" routerLinkActive class="sombra">Editar hoteles</a></li>
                    <li><a routerLink="/editarhabs" routerLinkActive class="sombra">Editar habitaciones</a></li>
                    <li><a routerLink="" routerLinkActive class="sombra" (click)="cambiar()" >Salir</a></li>
         </ul>
     </nav>
    </header>
 
 