<header>
<a><img class="logo" src="assets/images/logos/miauchi-03.png" alt="" width="80px" height="60px"></a>
     <nav>
         <ul class="nav__links" >
                    <li><a routerLink="/editar" routerLinkActive class="sombra">Estados</a></li>
                    <li><a routerLink="/editar2" routerLinkActive class="sombra">Destinos</a></li>
                    <li><a routerLink="/editarh" routerLinkActive class="sombra">Hoteles</a></li>
                    <li><a routerLink="/editarhabs" routerLinkActive class="sombra">Habitaciones</a></li>
                    <li><a routerLink="/admin" routerLinkActive class="sombra">Dashboard</a></li>
                    <li><a routerLink="" routerLinkActive class="sombra" (click)="cambiar()" >Salir</a></li>
         </ul>
     </nav>
    </header>
 
 