body{
margin: 0px;
padding: 0px;
height: 100%;
}
.fondo{
    background-color: #292222;
    background-image: linear-gradient(315deg, #292222 0%, #DDD6F3 69%, #ffffff 91%);
    height:100vh;
    width:100%;

}