<app-filtered-slider></app-filtered-slider>
<hr>
<div class="container">
  <h1 class="display-3 text-center">¿Quieres conocer Venezuela?</h1>
  <p class="lead text-center"> <strong> Nosotros nos encargamos de Planificar tu Viaje </strong> </p>
</div>
<div class="container text-center bg-light">
  <div class="row">
    <div class="col-sm">
      <img src="assets/images/nature/Cinaruco.jpg" alt="Amazonas" height="250px" width="300px">
      <ul>
          <h5 class="display-4">Cinaruco</h5>
      </ul>
    </div>
    <div class="col-sm">
      <img src="assets/images/nature/Paraguas-paseo-san-jacinto002-1200x800.jpg" alt="Casco Historico Guanare" height="250px" width="300px">
      <ul>
          <h5 class="display-4">Caracas</h5>
      </ul>
    </div>
    <div class="col-sm">
      <img src="assets/images/nature/Wonken.jpg" alt="Puente de Maracaibo" height="250px" width="300px">
      <ul>
          <h5 class="display-4">Wonken</h5>
      </ul>
    </div>
  </div>
  <p class="lead">Conoce el resto de las ciudades y estados oprimiendo en este boton!!!</p>
  <button type="button" class="btn btn-primary" routerLink="/planea-tu-viaje" routerLinkActive>
    Planifica Tu Viaje
   </button>
</div>


